body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 500px;
  margin: 40px auto;
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

input[type="text"] {
  width: 96%;
  padding: 10px;
  margin-right: 100px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task span {
  flex-grow: 1;
  word-break: break-word;
}

.task button {
  margin-left: 8px;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.button-all {
  height: 50px;
  width: 80px;
  border-radius: 4px;
  color: white;
}

.add-btn {
  background-color: #28a745;
}

.edit-btn {
  background-color: #007bff;
}

.delete-btn {
  background-color: #dc3545;
}